.main__wrapper {
  grid-template-areas:
        "title settings ..."
        "categories ... ..."
        "goods goods goods"
        "... morebutton ...";
}

.main__categoryTitle {
  grid-area: title;
  grid-column: span 3;
}

.main__categorySettings{
  grid-area: settings;
  grid-column: span 8;
}

.main__categoryList {
  grid-area: categories;
  grid-column: span 12;
}

.main__goods {
  grid-area: goods;
  grid-column: span 12;
}

.main__moreButton {
  grid-area: morebutton;
  grid-column: 5/span 4;
}