.goods__wrapper {
  grid-template-areas:
        "title settings ..."
        "categories ... ..."
        "goods goods goods"
        "... morebutton ...";
}

.goods__categoryTitle {
  grid-area: title;
  grid-column: span 3;
}

.goods__categorySettings{
  grid-area: settings;
  grid-column: span 8;
}

.goods__categoryList {
  grid-area: categories;
  grid-column: span 12;
}

.goods__list {
  grid-area: goods;
  grid-column: span 12;
}

.goods__moreButton {
  grid-area: morebutton;
  grid-column: 5/span 4;
}