@import '../../scss/functions/rem.scss'; 
@import '../../scss/functions/colsize.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, colsize($currentWorkArea, $colgap, $colamount));
  column-gap: rem($colgap);
}

html {
  background-color: white !important;
}

html body {
  margin: 0;
  background-color: white;
  font-weight: 300;
}

.container {
  max-width: rem(915px);
  margin: 0 rem(50px);
}